#card {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: #5289B5;
    color: rgba(31, 53, 65, 1);
}

#card-action:hover{
    background-color: #1f3541;
    color: #5289B5;
}

#text {
    padding: 2%;
    line-height: 44px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Monsterrat', sans-serif;
}
